<h1>Listing <%= @players.first[:type].pluralize %></h1>
<table>
	<tr>
		<th>Player Name </th>
		<th>Team Name</th>

	</tr>
	<% @players.each do |player| %>

	<tr>
		<td><%= player.email %></td>
		<td> <%= player.coach.team_name %></td>
		<% end %>
	</table>

